<div class="modal fade" id="modalCadastrar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Cadastro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="inputName" class="form-label">Nome e sobrenome</label>
          <input type="name" class="form-control" id="inputName">
        </div>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Senha</label>
          <input type="password" class="form-control" id="inputSenha">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-can" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn-cad">Cadastrar</button>
      </div>
    </div>
  </div>
</div>
