<form class="form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">FII</label>
    <input type="email" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Aporte inicial</label>
    <input type="email" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Aporte mensal</label>
    <input type="email" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Rendimento médio</label>
    <input type="email" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Meses</label>
    <input type="email" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Calcular</button>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Montante final</label>
    <input type="email" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Renda mensal final</label>
    <input type="email" class="form-control" id="exampleInputPassword1">
  </div>
</form>
