<div class="card text-center">
  <div class="card-header">
    Acompanhe e simule seus investimentos!
  </div>
  <div class="card-body">
    <h5 class="card-title">Cadastre-se!</h5>
    <p class="card-text">Este serviço é gratuito para cadastrados, para isso basta inserir seu e-mail e criar uma senha!</p>
    <button type="button" class="btn-cad" data-bs-toggle="modal" data-bs-target="#modalCadastrar">
      Cadastrar
    </button>
    <button type="button" class="btn-log" data-bs-toggle="modal" data-bs-target="#modalLogin">
      Fazer login
    </button>
  </div>
</div>
