.card {
  height: 100%;

  .btn-cad {
    background-color: #20c997;
    padding: 0px 16px 0px 16px;
    margin-right: 16px;
    border: none;
    border-radius: 15px;
  }
  .btn-log {
    background-color: #20c997;
    padding: 0px 16px 0px 16px;
    margin-left: 16px;
    border: none;
    border-radius: 15px;
  }
}
