<table class="table">
  <thead>
    <tr>
      <th>FII</th>
      <th>Patrimônio</th>
      <th>Quantidade</th>
      <th>Dividendo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>MXRF11</td>
      <td>R$218,73</td>
      <td>22</td>
      <td>R$1,98</td>
    </tr>
    <tr>
      <td>TORD11</td>
      <td>R$703,08</td>
      <td>71</td>
      <td>R$5,68</td>
    </tr>
    <tr>
      <td>VSLH11</td>
      <td>R$501,43</td>
      <td>50</td>
      <td>R$6,00</td>
    </tr>
    <tr>
      <td>VGHF11</td>
      <td>R$635,64</td>
      <td>65</td>
      <td>R$11,70</td>
    </tr>
    <tr>
      <td>CPTS11</td>
      <td>R$585,39</td>
      <td>6</td>
      <td>R$5,50</td>
    </tr>
    <tr>
      <td>HABT11</td>
      <td>R$109,72</td>
      <td>1</td>
      <td>R$1,30</td>
    </tr>
    <tr>
      <td>KISU11</td>
      <td>R$248,76</td>
      <td>30</td>
      <td>R$2,10</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td>R$3002,75</td>
      <td>245</td>
      <td>R$33,31</td>
    </tr>
  </tfoot>
</table>
